<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KPLive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AFBBC5C1E78DF42007F63AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AFBBC781E78DF43007F63AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AFBBC831E78DF43007F63AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
